<h1>Interpolation example</h1>
<br>
<b>
    Name :{{name}}
    <br> Age :{{age}}
    <br>Email <input type="text" value="{{email}}">

    <h1>Property Binding Example</h1>
    <br>Name <input type="text" [value]="name">
    <br>Age <input type="text" [value]="age">
    <br>Email<input type="text" [value]="email">
     
<h1></h1>
    <br><br>

    <h1>Event Binding example</h1><br>
    <button (click)="changeName()" >change name</button><br>
    <button (click)="changeAge()">change age</button><br>
    <button (click)="changeemail()">change email</button><br>
    <img [src]="imagePath" width="400px"><br>
    <button (click)="changeImage()">change image</button><br>
</b>
<h1>Two way binding</h1>
<br>
enter your first name <input type="text" [(ngModel)]="fname"/>
<b>Welcome {{fname}} </b>

<h1 [ngClass]="myClass">Strucutal and Attribute Directives example </h1>
<br>
<button (click)="changeFlag()">show or hide</button>
<br>
<div *ngIf = "flag" [ngStyle]="myStyle">
    <br>
    <ul>
        <li *ngFor =" let vec of vehicles" (click)="setSelectedItem(vec)">{{vec}}</li>
    </ul>
    <br>
    <b>You have selected : {{selectedVehicle}}</b>
    <br>
    <div [ngSwitch]="selectedVehicle">
       <font color="green" *ngSwitchCase="'Two wheeler'">Bike </font>
       <font color="violet" *ngSwitchCase="'three wheeler'">Auto </font>
      <font color="orange" *ngSwitchCase="'four wheeler'">Car</font>
      <font color="blue" *ngSwitchDefault>Invalid</font>  
    </div>
    <button (click)="changeStyle()">click here to change </button>
</div>